<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../abas-icons/abas-icons.html">
<link rel="import" href="../abas-icons/abas-icons-color-style.html">

<!--

The `abas-icon` element displays an abas icon. By default an icon renders with default abas color.

Example for using abas icon with default abas color:
    <abas-icon icon="abas:ball_green"></abas-icon>

Example for setting custome color for abas icon:
    <abas-icon icon="abas:ball_green" nodefaultcolor></abas-icon>
    <style>
      abas-icon {
        --abas-icon-fill-color: #FF0000;
      }
    </style>


### Styling
The following custom properties are available for styling:
Custom property | Description | Default
----------------|-------------|----------
`--abas-icon` | Mixin applied to the abas icon | `{}`
`--abas-icon-fill-color` | Mixin applied to fill abas icon color | `currentcolor`
`--abas-icon-width` | Width of the abas icon | `24px`
`--abas-icon-height` | Height of the abas icon | `24px`
`--abas-icon-stroke-color` | Stroke color of the abas icon | none

Installation:

bower install https://bitbucket.org/abascloud/abas-icon.git#0.0.1

-->

<dom-module id="abas-icon">
  <template>
    <style>
      /************  abas-icons color mapping  *****************/
      :host(.abort) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.about_abasgreen) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.about_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.alarmclock) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.arrow_blue_down) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.arrow_blue_down_plus) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.arrow_blue_left) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.arrow_blue_right) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.arrow_blue_up) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.at) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.attention) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.ball_green) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.ball_red) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.ball_yellow) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.ball_blue) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.ball_orange) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.ball_grey) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.book_yellow_open) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.book_yellow) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.box) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.box_delete) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.box_green) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.box_red) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.box_white) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.bulb_on) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.bulb_off) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.clock) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.console) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.cube_green) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.cube_yellow) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.cube_blue) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.cube_green_delete) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.cube_yellow_delete) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.cube_blue_delete) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.cubes_yellow) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.cubes_blue) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.cubes_green) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.date) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.date_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.deadend) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.document) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.find) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.flag_green) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.flag_yellow) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.flag_red) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.flag_blue) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.ok_check) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.flash) {
        --abas-icon-fill-color: var(--abas-icon-orange);
      }

      :host(.folder_opened) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.folder_opened_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.folder_closed) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.garbage) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.hourglass) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.house) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.icecube) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.information) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.infosystem) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.internet) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.invisible) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.lock) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.lock_open) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.message) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.message_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.mobile) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.mail) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.minus) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.minus_black) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.means_of_production) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.media_play_green) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.media_play_blue) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.ok) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.operation) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.package) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.package_error) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.package_delete) {
        --abas-icon-fill-color: var(--abas-icon-yellow);
      }

      :host(.plus) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.plus_black) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.preferences) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.preferences_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.print) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.process) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.product) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.products) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.print_abasgreen) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.recycle) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.replace) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.replace_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.screen_new) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_add) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_add_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.screen_view) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_edit) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_selection) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_selection_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.screen_copy) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_delete) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_extras) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.screen_empty) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.save) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.selection) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.selection_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.stop) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.stop2) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.search_abasgreen) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.search_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.star_red) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.telephone) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.text) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      /*** missing in abas-icons set **/
      :host(.text2) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      /*****************************/
      :host(.text_delete) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.text_edit) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.text_edit_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.text_empty) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.text_empty_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.text_new) {
        --abas-icon-fill-color: var(--abas-icon-darkgrey);
      }

      :host(.text_new_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.transfer_minus) {
        --abas-icon-fill-color: var(--abas-icon-red);
      }

      :host(.transfer_plus) {
        --abas-icon-fill-color: var(--abas-icon-green);
      }

      :host(.user) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.view) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.view_disabled) {
        --abas-icon-fill-color: var(--abas-icon-disabled);
      }

      :host(.visible) {
        --abas-icon-fill-color: var(--abas-icon-blue);
      }

      :host(.workstation) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      /** CHECK IT'S COLOR **/
      :host(.save-record) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.plus-circle) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      :host(.minus-circle) {
        --abas-icon-fill-color: var(--abas-icon-abasgreen);
      }

      /*****************************/
      :host {
        --iron-icon-fill-color: var(--abas-icon-fill-color, currentColor);
        --iron-icon-stroke-color: var(--abas-icon-stroke-color);
        --iron-icon-width: var(--abas-icon-width);
        --iron-icon-height: var(--abas-icon-height);
        --iron-icon: {
          @apply --abas-icon;
        }
      }
    </style>
    <iron-icon id="icon" icon="[[icon]]"></iron-icon>
  </template>
  <script>
    class AbasIcon extends Polymer.Element {

      static get is () {
        return 'abas-icon';
      }

      static get properties () {
        return {
          /**
           * name of the abas icon
           */
          icon: {
            type: String
          },
          _previousIconClass: {
            type: String
          },
          /**
           * set it to true if you don't want default color for the given abas-icon.
           * Use `--abas-icon-fill-color` mixin to fill your custom color.
           */
          nodefaultcolor: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        };
      }

      static get observers () {
        return ['_setIconColor(icon)'];
      }

      constructor () {
        super();
      }

      /**
       * set default abas color to given abas icon if nodefaultcolor is false.
       */
      _setIconColor (icon) {
        if (!icon) return;
        if (this._previousIconClass) {
          this.classList.remove(this._previousIconClass);
        }
        if (!this.nodefaultcolor && this.icon.indexOf('abas:') > -1) {
          this._previousIconClass = this.icon.split(':')[1];
          this.classList.add(this._previousIconClass);
        }
      }
    }

    customElements.define(AbasIcon.is, AbasIcon);
  </script>
</dom-module>
